*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 400px;
    width: 100%;
}
.main-container{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 126px;
    vertical-align: middle;
    
}

.container-nav{
    padding: 25px 0px;
}

.container-nav div{
    width: calc(100% / 6);
    display: inline-block;
}
.container-nav nav{
    width: calc(100% / 6 * 4);
    display: inline-block;
    text-align: center;
}
button{
    display: inline;
}



nav ul li{
    display: inline-block;
    list-style-type: none;

}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 14px;
    padding-right: 45px;
}